* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.sideimg {
    background-image: url(images/bg-image.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    box-sizing: border-box;
    margin: 0;
    
}

.formsection {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    background-color: whitesmoke;
}

img {
    width: 10%;
}

.logodiv {
    background-color: rgba(256, 256, 256, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 30%;
    padding: 10px 0;
    width: 100%;
}

h1 {
    color: white;
}

p {
    margin: 10px 0;
    font-weight: bold;
    font-size: large;
}

.white-section p {
    margin: 0px;
}
  
.headers {
    padding-bottom: 20px;
}


.white-section {
    margin: 15px 0;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputfields span {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.inputfields {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

label::before {
    content: "* ";
    color: red;
}

.inputfields label {
    font-size: small;
}

input[type="submit"] {
    margin:  10px 0;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 30px;
}

input[type="submit"]:hover {
    background-color: white;
    color: #596D48;
}

a {
    text-decoration: none;
    color: #596D48;
}

a:hover {
    color: green;
}

input {
    border: 1px solid black;
    height: 25px;
    width: 200px;
    outline: none;
}

input:focus {
    outline: 1px solid green;
    box-shadow: 2px 2px green;
}